.quick {
  width: 100%;
  max-width: 1500px;
  margin-top: 50px;
}
.quick .AppImg {
  display: flex;
  justify-content: space-between;
  height: 200px;
}
.divImg {
  position: relative;
  display: flex;
  width: calc(25% - 40px);
  border-radius: 30px;
  overflow: hidden;
}
.divImg:before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,.5);
  z-index: 1;
}
.ImgS {
  position: relative;
  width: 100%;
  height: auto;
}

.imgText {
  position: absolute;
  width: auto;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #fff;
  z-index: 2;
  transition: color 0.5s ease;
}

.imgText:hover {
  color: orange;
}