* { padding: 0;margin: 0; }
body {font-size: 18px;letter-spacing: -.5px;font-family: 'EASTARJET-Heavy';background: #DDE8EE;}
.subTop:before {content:'';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.7)); z-index: 1;}



.subTop{
  position:relative;
  height: 280px;
  width: 100%;
  overflow: hidden;
}

.subTopImg {
  width: 100%;
}

.subAll{
  width: 100%;
  max-width: 1800px;
  display: flex;
}

.subMenu{
  width: 10%;
  height: 700px;
  border: 0px solid black;
  background-color: white;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 23px;
}

.subText{
  width: 80%;
  margin-left: 5%;
  font-size: 25px;
  padding: 60px 0 ;
}

.subWord{
  width: 80%;
  margin-left: 15%;
}

